
ul{
list-style-type: none;
margin: 5px;
padding:10px;
overflow:scroll;
background-color:rgb(223, 139, 29);
}
li{
    display: inline;
}
li{
    float:left;
}
li a{
    display: block;
    color:beige;
    text-align: center;
    padding:14px 15px ;
    text-decoration: none;
}
.button{
    background-color:brown;
    border:antiquewhite;
    padding:2px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 30px;
    margin: 2px;
    color: antiquewhite;
    cursor: pointer;
}

h1{
    color:brown;
    font-size:80px;
}
li a:hover{
    background-color: brown;
}
h2{
    color:darkgoldenrod;
    font-size: 37px;
    font-style: italic;
    
}
p{
    color:black;
    font-size: 25px;
}
img{
    width: 150px;
    height: 150px;
    object-fit: fill;
    object-position: 80% 100%;
}
input[type=text],select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 5px solid burlywood;
    border-radius: 10px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: rgb(28, 25, 20);
    color:antiquewhite;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color:brown;
}





    

